[user]
	name = Darryl Abbate
	email = darrylabbate@gmail.com
	signingkey = A03538CDABBA7E00
[color]
	ui = true
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = true
	pager = diff-so-fancy | less --tabs=2 -RFX
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = master
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[alias]
	a = add
	all = add --all
	b = branch
	ba = branch --all
	c = commit
	ca = commit --amend
	cl = clone --recursive
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --cached
	f = fetch --dry-run --version
	g = grep
	gi = grep -i
	l = log --oneline --n 10
	p = push
	pl = pull
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rd = !git --no-pager diff --no-ext-diff --no-prefix
	s = status -sb
[grep]
	patternType = perl
