# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias c="clear"

# Shortcuts
alias t="cd /"
alias h="cd ~"
alias b="cd -"
alias p="cd ~/projects"
alias d="cd ~/.dotfiles"
alias a="cd ~/applications"
alias v="cd /volumes"
alias s="subl"

# ls
alias la="ls -A"
alias ll="ls -AFlo"

# Reload .bash_profile
alias rebash="source ~/.bash_profile"

# Finder
alias f="open ."
alias show="defaults write com.apple.finder AppleShowAllFiles true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles false && killall Finder"
alias fkill="killall Finder"

# Cleanup
alias tidy="find . -type f -name '*.DS_Store' -ls -delete"
alias empty="sudo rm -rf ~/.Trash/*"

# Git
alias gpull="git pull origin master"

# App shortcuts
alias calc="open -a Calcbot"
alias iina="open -a IINA"
alias prefs="open -a 'System Preferences'"
alias auth="open -a 'Authy Desktop'"

# Volume Control (useful for SSH just in case)
alias mute="osascript -e 'set volume output muted true'"
alias volume50="osascript -e 'set volume output volume 50'"
alias volume100="osascript -e 'set volume output volume 100'"
alias volumemax="osascript -e 'set volume output volume 100'"

# CPU Monitoring
alias cpu="top -F -R -o cpu"
alias pigs="ps -acrx -o pid,%cpu,command | awk 'NR<=4'"
alias hogs="ps -acrx -o pid,%cpu,command | awk 'NR<=11'"
alias pgrep="pgrep -i"
alias k="pkill -i"
alias cmdkill="pkill -i"
alias kill="kill -9"
alias pidkill="kill -9"
alias temp="osx-cpu-temp -F"

# Networking
alias netusers="arp -a | awk '/10.0.1/{print \$1, \$2}' | column -t"
alias myip="curl ipinfo.io/ip"
alias copyip="curl ipinfo.io.ip | pbcopy"

# SSH
alias sshimac="ssh darryl@imac.local"
alias sshair="ssh darryl@air.local"

# Misc
alias colors="bash ~/Resources/iTerm2-Color-Schemes/tools/screenshotTable.sh"
alias spd="speedtest-cli"
alias about="screenfetch -E"
alias dl="youtube-dl"
alias wthr="python3 ~/Projects/wthr-cli/wthr.py"