#!/usr/bin/env bash

# Reload .bash_profile
alias rebash="source ~/.bash_profile"

# Restart chunkwm or skhd
alias rechunk="brew services restart chunkwm"
alias rekey="brew services restart skhd"

# Update macOS and Homebrew
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup"

# Finder
alias f="open ."
alias show="defaults write com.apple.finder AppleShowAllFiles true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles false && killall Finder"
alias fkill="killall Finder"

# Cleanup
alias tidy="find . -type f -name '*.DS_Store' -ls -delete"
alias empty="sudo rm -rf ~/.Trash/*"

# Git
alias gpull="git pull origin master"

# App shortcuts
alias iina="open -a IINA"
alias prefs="open -a 'System Preferences'"

# Volume Control (useful for SSH just in case)
alias mute="osascript -e 'set volume output muted true'"
alias volume50="osascript -e 'set volume output volume 50'"
alias volume100="osascript -e 'set volume output volume 100'"
alias volumemax="osascript -e 'set volume output volume 100'"

# CPU Monitoring
alias cpu="top -F -R -o cpu"
alias hogs="ps -acrx -o pid,%cpu,command | awk 'NR<=5'"

# k [app name] or kill [process id]
alias pgrep="pgrep -i"
alias k="pkill -i"
alias cmdkill="pkill -i"
alias kill="kill -9"
alias pidkill="kill -9"
alias temp="osx-cpu-temp"

# Networking
alias netusers="arp -a | awk '/10.0.1/{print \$1, \$2}' | column -t" # Deprecated, needs tweaking to work with current router
alias myip="curl ipinfo.io/ip"
alias copyip="curl ipinfo.io.ip | pbcopy"

# Colorscripts
alias bars=". ~/dotfiles/docs/scripts/bars"
alias colors=". ~/dotfiles/docs/scripts/colors"
alias ghosts=". ~/dotfiles/docs/scripts/ghosts"
alias pipes=". ~/dotfiles/docs/scripts/pipes"
alias slim=". ~/dotfiles/docs/scripts/slimcolors"
alias tanks=". ~/dotfiles/docs/scripts/tanks"

# Misc
alias spd="speedtest-cli"
alias dl="youtube-dl"
alias wthr="python3 ~/Projects/wthr-cli/wthr.py"
alias about="neofetch \
--config off \
--uptime_shorthand tiny \
--speed_shorthand on \
--cpu_temp F \
--ip_host ipinfo.io/ip \
--colors 6 4 5 2 4 7 \
--bold off \
--underline off \
--block_range 1 6 \
--block_width 4 \
--ascii_colors 2 3 1 1 5 4 \
--ascii_bold off \
"
