# Shell Navigation
alias t="cd /"
alias h="cd ~"
alias p="cd ~/Projects"
alias d="cd ~/.dotfiles"
alias a="cd ~/Applications"
alias v="cd /Volumes"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias c="clear"

# ls
alias lsa="ls -A"

# .bash_profile
alias rebash="source ~/.bash_profile"

# Finder
alias f="open ."
alias show="defaults write com.apple.finder AppleShowAllFiles true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles false && killall Finder"
alias fkill="killall Finder"

# Cleanup
alias tidy="find . -type f -name '*.DS_Store' -ls -delete"
alias empty="sudo rm -rf ~/.Trash/*"

# App Aliases
alias calc="open -a Calcbot"
alias vlc="open -a VLC"
alias prefs="open -a 'System Preferences'"
alias auth="open -a 'Authy Desktop'"

# Volume Control (useful for SSH just in case)
alias mute="osascript -e 'set volume output muted true'"
alias volume50="osascript -e 'set volume output volume 50'"
alias volume100="osascript -e 'set volume output volume 100'"
alias volumemax="osascript -e 'set volume output volume 100'"

# CPU Monitoring
alias cpu="top -F -R -o cpu"
alias pigs="ps -acrx -o pid,%cpu,command | awk 'NR<=4'"
alias hogs="ps -acrx -o pid,%cpu,command | awk 'NR<=11'"
alias pgrep="pgrep -i"
alias pkill="pkill -i"
alias cmdkill="pkill -i"
alias kill="kill -9"
alias pidkill="kill -9"
alias temp="~/Applications/osx-cpu-temp/osx-cpu-temp -F"

# Networking
alias netusers="arp -a | awk '/192.168.1/{print \$1, \$2}' | column -t"
alias myip="curl ipinfo.io/ip"
alias copyip="curl ipinfo.io.ip | pbcopy"

# Misc
alias colors="bash ~/Resources/iTerm2-Color-Schemes/tools/screenshotTable.sh"
alias spd="speedtest-cli"
alias about="screenfetch -E"
alias dl="youtube-dl"
alias wthr="python3 ~/Projects/wthr-cli/wthr.py"

# Bitcoin
alias b="python3 ~/Projects/btc-ticker/ticker.py"
alias elec="electrum -w ~/.electrum/wallets/default_watch"
alias btc="electrum -w ~/.electrum/wallets/default_watch getbalance | awk 'NR==2 {print \$2}' | cut -c 2-11"
alias btcaddr="electrum -w ~/.electrum/wallets/default_watch getunusedaddress"
alias vanity="vanitygen -v -t 1 -o ~/Documents/.btc/vanity.txt"
alias vanityx2="vanitygen -v -t 2 -o ~/Documents/.btc/vanity.txt"
alias lotto="vanitygen -v -t 2 -o ~/Documents/.btc/lotto.txt 167ZWTT8n6s4ya8cGjqNNQjDwDG"
alias lend="python3 ~/Applications/poloniexlendingbot/lendingbot.py"
alias lendconfig="nano ~/Applications/poloniexlendingbot/default.cfg"