#!/usr/bin/env bash

# Super quick note script
function n () {
    title=$(date -u +'%Y-%m-%d')
    note=$*
    echo $note >> ~/Notes/${title}.txt
}

# Another quick note script that allows me to set a title first
# function note () {

# }

# Quick push to git repository. Any text after gpush becomes the commit message.
function gpush () {
    message=$*

    if [[ $message ]]; then   
        git add --all
        git commit -m "${message}"
        git push -u origin master
    else
        echo ERROR: No commit message specified
    fi
}