[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = ../../tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = ../../tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = ../../sheerun/vim-polyglot.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = ../../itchyny/lightline.vim
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-easy-align"]
	path = vim/.vim/bundle/vim-easy-align
	url = ../../junegunn/vim-easy-align.git
[submodule "vim/.vim/bundle/vim-stylish-haskell"]
	path = vim/.vim/bundle/vim-stylish-haskell
	url = ../../nbouscal/vim-stylish-haskell.git
